<div class="course-detail-page">

  <p *ngIf="loading">Loading...</p>
  <p *ngIf="!loading && error">{{ error }}</p>



  <ng-container *ngIf="!loading && !error && book as b">
    <header class="book-page-header">
      <div class="book-dtl-hd-box">
        <div class="book-dtl-img-cnt">
          <img [src]="b.cover" [alt]="b.title" />
        </div>
      </div>

      <div class="book-dtl-hd-box">
        <div class="book-dtl-row">
          <h2>{{ b.title }}</h2>
          <span>{{ b.category }}</span>
          <h3>{{ b.author }}</h3>

          <div class="tag-row">
            <div class="tag" [ngClass]="b.available ? 'available' : 'unavailable'">
              {{ b.available ? 'Available' : 'Currently Unavailable' }}
            </div>
            <div class="tag">{{ b.difficulty }}</div>
          </div>
        </div>
      </div>
    </header>

    <main class="book-main-dtl">
      <h2>Book Description</h2>
      <p>{{ b.description }}</p>
    </main>
  </ng-container>
</div>