nav {
  background-color: black;
  padding: 15px 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  z-index: 1000;
  border-bottom: 1px solid var(--nav-bottom);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: height 0.3s ease;
}



/* TOP BAR */
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
}

nav.mobile-open {
  height: 100vh;
}

/* MOBILE MENU */
.nav-link-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-mid);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

nav.mobile-open .nav-link-menu {
  max-height: 100vh;
  opacity: 1;
  padding: var(--padding) var(--padding-avg);
  overflow-y: auto;
}

/* MOBILE TOGGLE BUTTON */
.nav-menu {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
  padding: 2px 6px;
}

.menu-bars {
  position: relative;
  width: 20px;
  height: 16px;
  display: block;
}

.menu-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: grey;
  border-radius: 999px;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.menu-line:nth-child(1) {
  top: 4px;
}

.menu-line:nth-child(2) {
  bottom: 4px;
}

/* transform to X */
.nav-menu.active .menu-line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.nav-menu.active .menu-line:nth-child(2) {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.group-link {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

/* LOGO */
.logo>a {
  padding: 0 !important;
  font-size: 20px;
  background-color: transparent !important;
  color: white !important;
  border: none !important;
}


/* --- Title Section ---*/

.intro-container {
  min-height: var(--min-height);
  padding: var(--padding-big) 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  max-width: var(--max-width);
  gap: var(--gap-big);
  margin: auto;
  color: white;
}


.title-container {
  margin: auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  gap: var(--gap-mid);
  text-align: center;
  width: 100%;
  padding: 0 var(--padding-avg);
}

.title-container>h1 {
  font-size: var(--h1-hd);
}

/* --- Intro slider ---*/


.intro-slider {
  width: 100%;
  height: var(--intro-slider-height-mob);
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.intro-item {
  position: absolute;
  width: var(--intro-item-width-mob);
  height: var(--intro-item-height-mob);
  background-color: var(--intro-item-bg-color);

  cursor: grab;
  user-select: none;
  transform-origin: 50% 0%;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: var(--border-radious);
  padding: var(--pad-sm);
  overflow: hidden;
  gap: var(--gap-ultra-sm);
}

.intro-item>p {
  font-size: 8px;
  font-weight: 300;
  padding: 0 var(--pad-sm);
}

.image-wrapper {
  border-radius: var(--border-radius-small);
  width: 100%;
  height: 88%;
  overflow: hidden;
}

.image-wrapper>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro-item:active {
  cursor: grabbing;
}

/* --- End  Intro slider ---*/






/* --- End Title Section ---*/

/*-- Description --*/
.description {
  height: auto;
  max-width: var(--max-width);
  margin: auto;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.description-intro {
  width: 100%;
  margin: auto;
  height: auto;
  padding: 0 var(--padding-avg) var(--padding);
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
}

.description-intro h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: var(--h1-intro);
}

.description-wrapper {
  height: auto;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding) 0 0;

}

.description-card {
  position: relative;
  height: auto;
  overflow: hidden;
  padding-bottom: var(--padding-mid);
}

.description-card:last-of-type {
  padding-bottom: var(--padding);
}

.description-card-details {
  flex: 1.2;
  padding: var(--card-top-padding) var(--padding-avg) var(--padding-mid) var(--card-left-padding);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap);
}

.description-card-details>h1 {
  font-style: 24px;
  font-weight: 400;
}

.card-number-block {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: var(--number-block-width);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
}

.description-image {
  height: auto;
  flex: 1.2;
  padding: 0 var(--padding-sm) 0 var(--card-left-padding);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.description-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.block-line {
  height: 100%;
  width: 1px;
  background-color: white;
}

.number-circle {
  background-color: white;
  width: var(--number-block-width);
  height: var(--number-block-height);
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  place-items: center;

}

.number-circle>h1 {
  color: black;
  font-size: 20px;
  font-weight: 600;

}

/*reveal*/
.reveal-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s ease, transform 0.7s ease;
  will-change: transform, opacity;
}

.reveal-up.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.reveal-img {
  opacity: 0;
  transition: opacity 0.7s ease, transform 0.7s ease;
  will-change: transform, opacity;
}

/* Direction is set by js */
.reveal-img.from-left {
  transform: translateX(-80px);
}

.reveal-img.from-right {
  transform: translateX(80px);
}

.reveal-img.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.description-card-details .reveal-up {
  transition-delay: 0.08s;
}

.description-card-details .reveal-up+.reveal-up {
  transition-delay: 0.12s;
}

@media (prefers-reduced-motion: reduce) {

  .reveal-up,
  .reveal-img {
    transition: none;
    transform: none;
    opacity: 1;
  }
}

/*-- End Description --*/

/*courses description*/
.courses-description-wraper {
  background-color: var(--secondary-bg-color);
  height: auto;
  padding: var(--padding-lrg) var(--padding-sm) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-big);
  max-width: var(--max-width);
}

.courses-description-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-mid);

  max-width: var(--max-width);
  margin: auto;

}

.courses-description-intro>h1,
.courses-description-intro>p {
  color: black;
}

.courses-description-intro>h1 {
  font-size: 55px;
}

.courses-description-intro>p {
  line-height: 1.2;
}

.courses-above-wrapper-row {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 2;
}

.courses-above-wrapper-row>.tag {
  background-color: var(--card-grey-color);
  padding: 2px 4px;
}

.courses-above-wrapper-row>.tag:first-child {
  border-radius: var(--border-radius-small);
}

.courses-above-wrapper-row>.tag>p {
  color: white;
  font-size: 10px;

}

.courses-description-video-wrapper {
  position: relative;
  z-index: 1;
  top: calc(-1*(var(--gap-big) + var(--gap)/2));

  height: var(--screen-wrapper-height-s);

  background-color: var(--card-secondary-color);
  width: 100%;
  border-radius: var(--border-radius-m);
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.courses-description-box-screen {
  height: calc(var(--screen-wrapper-height-s)* 2/3);
  --height-box-screen: calc(var(--screen-wrapper-height-s)* 2/3);

  width: 88%;
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

.screen-wrapper {
  height: 74%;
  width: 100%;
  background-color: rgb(255, 242, 242);
  border: 3px solid black;
  border-radius: var(--border-radius-small);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
  overflow: hidden;

}

.screen-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.base-screen {
  width: 29%;
  background-color: var(--base-screen-color);
  height: 26%;
  margin: auto auto 0;
  box-shadow: inset 0 8px 10px -6px rgba(0, 0, 0, 0.315);

  display: flex;
  align-items: center;
  justify-content: center;
}

.base-screen>a {
  display: none;


  color: white;
  background-color: rgb(104, 64, 255);
  padding: 5px var(--padding-avg);
  margin-top: var(--padding);
  border: none;

}

.base-screen>a:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

.courses-detail-accordion {
  height: auto;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
  top: calc(-1*(var(--gap-big) + var(--gap)/2));
}

.accordion-item {
  width: 100%;
  cursor: pointer;
}

.accordion-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  cursor: pointer;
  border-top: 1px solid var(--border-top-sec);
  background-color: var(--secondary-bg-color);
}

.accordion-trigger .fa-solid.fa-chevron-down {
  font-size: 14px;
}

.courses-detail-accordion .accordion-trigger>i {
  transition: transform 0.2s ease;
}

.accordion-trigger[aria-expanded="true"]+.accordion-panel {
  display: block;
}

.courses-detail-accordion .accordion-trigger[aria-expanded="true"]>i {
  transform: rotate(180deg);
}

.accordion-panel-inner {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  gap: var(--gap);
  padding-bottom: var(--padding-avg);

}

.accordion-panel-inner>p {
  line-height: 1.1;
  font-size: 16px;
  color: black;
}

.accordion-pannel-inner-img-cont {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--border-radious);
}

.accordion-pannel-inner-img-cont>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.accordion-trigger[aria-expanded="true"]+.accordion-panel {
  /*expanded*/
  grid-template-rows: 1fr;
}

.accordion-panel {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.25s ease,
    opacity 0.25s ease;
}

.accordion-panel.is-open {
  opacity: 1;
}

.accordion-trigger:focus-visible {
  outline-offset: 2px;
}

/* end courses description*/


/*proposed books*/
.proposed-books {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  padding: var(--padding) 0;
  margin: auto;
}

.proposed-book-intro-container {
  padding: var(--padding) var(--padding-sm) 0;
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);
  text-align: center;
}

.proposed-book-intro-container>h1 {
  color: black;
}

.proposed-book-intro-container>p {
  color: black;
}


.proposed-book-intro-container>a {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.proposed-book-intro-container a:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

/*end proposed books*/


/*slider*/
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  padding: var(--padding) 0;
}

.card-carousel {
  display: flex;
  overflow-x: auto;
  gap: var(--gap);
  scroll-behavior: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  user-select: none;
  padding: 0 var(--padding-avg);
  height: auto;

  align-items: stretch;
}

.card-carousel.active {
  cursor: grabbing;
}


.card-carousel .card {
  flex: 0 0 var(--book-card-width);

  width: var(--book-card-width);
  height: auto;

  text-align: center;
  background-color: var(--card-secondary-color);
  border-radius: var(--border-radius-avrg);
  gap: var(--gap);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  border: none;
  padding: var(--padding-mid) var(--padding-mid) 0;
}

.card-carousel .card:nth-child(2) {
  background-color: #242424;
}

.card-carousel .card:nth-child(2) .card-info>p,
.card-carousel .card:nth-child(2) .card-info>h2 {
  color: white;
}

.card-carousel .card:nth-child(3) {
  background-color: rgb(19, 9, 51);
}

.card-carousel .card:nth-child(3) .card-info>p,
.card-carousel .card:nth-child(3) .card-info>h2 {
  color: white;
}

.card-carousel .card:nth-child(4) {
  background-color: var(--card-color);
}

.card-carousel .card:nth-child(4) .card-info>p,
.card-carousel .card:nth-child(4) .card-info>h2 {
  color: white;
}

.card-img-cont {
  height: 22vh;
  width: 100%;
  overflow: hidden;
  margin: auto auto 0;
}

.card-img-cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-info {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  gap: var(--gap);
}

.card-info>p,
.card-info>h2 {
  color: black;
}

.card-info .tag-row {
  margin: 0 0 0;
  padding: 0;
}


/*end slider*/

/* Courses Section*/
.courses {
  padding: var(--padding-big) 0;
  max-width: var(--max-width);
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-wrap {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-big);
}

.courses-main {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-sm);
  text-align: center;
}

.courses-wrap>a {
  width: 70%;
  background-color: var(--green);
  border: none;
}

.courses-wrap>a:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

.courses-info {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);
  padding: 0 var(--padding-avg);

}

.course-item {
  border-top: 1px solid rgb(66, 66, 66);
  padding: 2rem 0 0 0;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.course-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.item-title {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-title>span {
  color: rgb(109, 109, 109);
  font-size: 18px;
  font-weight: 550;
}

.item-main {
  height: auto;
  width: 100%;
}

.item-main>p {
  color: rgb(197, 197, 197);
}

/* End Courses Section*/


/* Recently Added*/

.recently-added {
  height: auto;
  max-width: var(--max-width);
  margin: auto;
  padding: var(--gap-big) var(--padding-avg);
}

.rec-added-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rec-added-info {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
  text-align: center;
  padding-bottom: 2rem;
}

.rec-added-info>h2 {
  font-size: 40px;
}

.rec-added-info>span {
  color: greenyellow;
  font-size: 16px;
  font-weight: 200;
}

.rec-added-box-wrap {
  width: 100%;
  height: auto;
  gap: var(--gap);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.new-box {
  height: auto;
  width: 100%;
  background-color: var(--card-color);
  border-radius: var(--border-radious);
  border: none;
  padding: var(--padding-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}


.new-box-header {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap);
  text-align: left;
  padding: var(--padding-avg) var(--padding-sm);
}

.new-box-header>span {
  background-color: var(--green);
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1px 3px;
  word-spacing: 2px;
  border-radius: 2px;
  color: black;
}

.new-box-header>p {
  text-transform: uppercase;
  font-size: 10px;
}

.new-box-header>h3 {
  text-align: left;
  font-weight: 200;
  font-size: 16px;
}


.rec-added-button-row {
  height: auto;
  width: 100%;
  box-shadow: 0 -25px 30px 34px var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-box-content {
  width: 100%;
  overflow: hidden;
  height: 10vh;

  border-radius: var(--border-radious);
}

.new-box-content>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* End Recently Added*/


/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */




/* CATEGORIES.HTML categories.hmtl */

.intro-container.categories {
  height: auto;
  gap: var(--gap-mid);
  max-width: var(--max-width);
  margin: auto;
  background-color: var(--card-secondary-color);
}

.title-container.categories {
  height: auto;
}

.title-container.categories h1,
.title-container.categories p {
  color: black;
}

.categories-main-content {
  padding: var(--padding-big) var(--padding-sm);
  display: flex;
  max-width: var(--max-width);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: var(--gap);
}

.tag {
  background-color: var(--violet);
  height: auto;
  width: auto;
  font-size: 10px;
  padding: 0 4px;
  border-radius: var(--border-radius-big);
  font-weight: 350;
  text-transform: uppercase;
}

.learning-goals-container {
  padding: var(--padding) 0;
  max-width: var(--max-width);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  height: auto;
  gap: var(--gap-mid);
  width: 100%;

}

.learning-goals-container .tag-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 0 var(--padding-avg);
}

.learning-goals-container .tag {
  background-color: var(--card-color);
  color: white;
}

/*caousel goals*/
.goal-slider {
  height: 55vh;
  position: relative;
  width: 100%;
  align-items: stretch;

}

.goal-item {
  position: absolute;
  width: var(--book-card-width);
  height: auto;
  cursor: grab;
  user-select: none;
  transform-origin: 50% 0%;
  overflow: hidden;

  background-color: var(--card-color-bg);
  padding: var(--padding-avg) var(--padding-avg) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-mid);
  flex-direction: column;
  text-align: center;
  border-radius: var(--border-radius-avrg);
  border: none;

}

.goal-item h5 {
  font-size: 22px;
  color: var(--pcolor);
}

.goal-item span {
  font-size: 12px;
  color: var(--pcolor);
  padding: 1px var(--padding-sm);
  border-radius: var(--border-radius-small);
  background-color: rgba(128, 128, 128, 0.253);
}

.goal-item p {
  font-size: 18px;
  color: var(--pcolor);
  font-weight: 350;
}

.goal-item .tag-row {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.goal-item__bg_img_wrapper {
  height: 18vh;
  width: 100%;

  overflow: hidden;
}

.goal-item__bg_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.goal-item.active {
  cursor: grabbing;
}

/*caousel goals*/

.controll-btn-row {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mid);
}

.slider-cursor-btn {
  height: 8vh;
  width: 8vh;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.carousel-proposed-video-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.proposed-video-container {
  overflow: hidden;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.proposed-video-carousel {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--proposed-carousel-height);

  transition: filter .2s ease;

  touch-action: pan-y;
  perspective: 1000px;
}

.proposed-video-card {
  position: absolute;
  top: 50%;

  width: var(--proposed-carousel-card-width-mob);

  height: auto;
  margin: auto;
  cursor: pointer;
  background-color: var(--background-color);

  transition:
    transform 0.35s cubic-bezier(.22, .61, .36, 1),
    left 0.35s cubic-bezier(.22, .61, .36, 1),
    opacity 0.25s ease-out,
    background-color 0.25s ease-out;

  transform-style: preserve-3d;


  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: var(--border-radious);
  border: none;
}

.proposed-video-vd-wrapper {
  height: 28vh;
  width: 100%;
  background-color: var(--proposed-video-vd-wrapper-mob);
  overflow: hidden;
}

.proposed-video-vd-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.proposed-video-content {
  height: 0;
  width: 100%;
  color: black;
}

.proposed-video-carousel.smooth-return {
  transition: all .2s ease;
}

/* the ink layer that grows from center to the outside*/
.proposed-video-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--green);
  border-radius: inherit;

  transform: scale(0);
  transform-origin: center center;
  transition: transform 0.35s ease-out;
  z-index: -1;
}

.proposed-video-card.highlight {
  padding: var(--padding-sm);
}

/* animatioon of the green that grows from center -> to the outside */
.proposed-video-card.highlight::before {
  transform: scale(1);
}

.proposed-video-card.highlight>.proposed-video-content {
  height: auto;
  padding: var(--padding-sm) 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.proposed-video-card>.proposed-video-content p {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

/*main description*/
.courses-desc-wrapper {

  width: 100%;
  padding: var(--padding-big) 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: var(--gap-big);

}

.course-desc-header {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-mid);
}

.course-desc-main-wrap {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-big);
  padding: var(--padding) 0;
}

.course-desc-box-wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tag-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
  padding: var(--padding-avg) 0;
  color: white;
}

.tag-row>.tag {
  background-color: var(--tag-color);
}

.tag-row>.tag:first-child {
  border-radius: 0;
}

.tag-row>.tag:nth-child(3) {
  border-radius: 0;

}

.tag-row>.tag>p {
  font-size: 12px;
}

.course-desc-info-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0 var(--padding-sm);

}

.course-info-container-box {
  padding: var(--padding-mid) 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.course-info-container-box+.course-info-container-box {
  border-top: 1px solid var(--border-top-new);
}

.round-container {
  height: 40vh;
  width: 100%;
  margin: auto;
  border-radius: 1250px;
  overflow: hidden;
}

.round-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.course-dsc-btn-wrp {
  width: 100%;
  height: auto;
  padding: var(--padding) 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-dsc-btn-wrp a {
  background-color: var(--violet);
  border: none;
  color: white;
  width: 50%;
}

.course-dsc-btn-wrp a:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  text-align: center;
  gap: var(--gap);
}

/*=================*/
/*sticky container*/
.course-desc-sticky-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-big);
  position: relative;

}


.course-desc-sticky-container {
  height: 65vh;
  width: 100%;
  position: sticky;
  top: var(--padding-lrg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-avg) var(--padding-sm);
  text-align: center;
  gap: var(--gap);

  background-color: var(--card-color);
  border-radius: var(--border-radius-m);
  color: white;
  border: none;

  cursor: pointer;
  transition: 0.2s ease;
  overflow: hidden;
}

.course-desc-sticky-container:hover {
  transform: translateY(-4px);
}

.course-desc-sticky-container>.tag-row {
  padding: 0;
}

.course-desc-sticky-container>.tag-row .tag:nth-child(2) {
  background-color: var(--green);
  color: black;
}

.course-desc-sticky-container>p {
  font-size: 14px;
}

.vid-wrp {
  height: 16vh;
  flex: 0 0 16vh;
  width: 100%;
  border-radius: var(--border-radius-avrg);
  margin-top: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: var(--gap);
}

.vid-wrp.vid-book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* or 'contain' if you don't want cropping */
  display: block;
}

.vid-wrp.questions-wrapper {
  height: auto;
}

.vid-wrp>.qa-list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.vid-wrp>.qa-list li {
  padding: var(--padding-avg) var(--padding-sm);
  border-top: 1px solid var(--tag-color);

  width: 100%;
}

.vid-wrp>.qa-list li p {
  font-size: 18px;
}




/*course.html*/

.intro-container.courses {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mid);
  min-height: 90vh;
  max-width: var(--max-width);
  overflow: hidden;
  padding: var(--padding-big) 0;
  min-height: 0;
  height: auto;
}

.intro-container.courses .tag-row {
  align-items: center;
  justify-content: center;
  gap: 0;
}

.intro-container.courses .tag-row .tag:nth-child(2) {
  background-color: var(--green);
  color: black;
}

.intro-container.courses>.title-container.courses {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);
  padding: 0 var(--padding-avg);

}

.title-container.courses h1 {
  font-size: var(--h1-s);
}

.intro-container.courses .slider-wrapper {
  padding: 0;
}

.title-container.courses p {
  font-size: 16px;
}

.intro-container.courses>a {
  padding: var(--padding-sm) var(--padding-big);
  background-color: var(--green);
  border: 1px solid var(--green);
}

.intro-container.courses>a:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

.book-see-all-btn {
  padding: var(--padding-sm) var(--padding);
  font-size: 16px;
  background-color: var(--green);
  border: none;
}

.book-see-all-btn:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

.title-container h3 {
  color: var(--green);
  font-weight: 200;
}




.courses-page {
  padding: var(--padding) var(--padding-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  max-width: var(--max-width);
  margin: auto;
}

.filter-button-results-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-avg);
}

.results-count {
  font-size: 18px;
  color: var(--nav-button-color);
}

.filter-toggle {
  background-color: white;
  padding: var(--padding-sm) var(--padding-avg);
  border-radius: 2rem;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.course-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);

}

.filter-sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.filter-sidebar {
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: var(--padding) var(--padding-avg);
  margin: 0;
  transform: translateY(100%);
  transition: transform 0.2s ease-out;
  z-index: 1001;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.filter-sidebar.is-open {
  transform: translateY(0);
}

.filter-close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.filter-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 1000;
}

.filter-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}


.filters-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-header>h2 {
  font-size: 28px;
}

.filters-header>.fa-solid.fa-x {
  background-color: var(--white-bg);
  color: black;
  padding: var(--padding-avg);
  border-radius: 50%;
  font-weight: 300;
  font-size: 20px;
}

.course-layout {
  flex-direction: column;
}

.filter-box {
  border-bottom: 1px solid var(--border-top-new);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding) 0;
  gap: var(--gap);
}

.toggle-filter-menu {
  display: none;
  cursor: pointer;

}

.toggle-filter-menu:hover {
  transition: 0.1s;
  transform: scale(0.95);
}

.filter-box:last-child {
  border-bottom: none;
}

.filter-box>span {
  font-size: 24px;
}

.checkbox-wrapper {
  position: relative;

}

.checkbox-wrapper .inp-cbx {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-wrapper .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: var(--padding-sm);
}

.checkbox-wrapper .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}


.checkbox-wrapper .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}


.checkbox-wrapper .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  box-sizing: border-box;
  transform: scale(0.95);
  border: 2px solid var(--border-top-sec);
  transition: all 0.2s ease;
}


.checkbox-wrapper .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}


.checkbox-wrapper .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
  color: var(--nav-button-color);
}


.checkbox-wrapper .cbx:hover span:first-child {
  border-color: var(--border-top-sec);
}


.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child {
  background: black;
  border-color: var(--border-top-sec);
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child svg {
  stroke-dashoffset: 0;
}

/* wave animation for checkbox */
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}


.course-grid {
  display: flex;
  height: auto;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);
  padding: var(--padding) 0;
}


.course-product {
  padding: var(--padding) var(--padding-sm) var(--padding-sm);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  background-color: var(--intro-item-bg-color);
  border-radius: var(--border-radious);
  gap: var(--gap-mid);

  box-sizing: border-box;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.course-product:hover {
  transform: translateY(-4px);
}

.course-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--gap-mid);
  height: auto;
  width: 100%;
}

.course-intro-info {
  padding: 0 var(--padding-avg);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--gap-mid);
  height: auto;
  width: 100%;
}

.course-intro-info .tag-row {
  justify-content: flex-start;
}

.course-intro-info>h3 {
  font-size: 1.5625em;
}

.course-intro-info>p {
  font-size: 14px;
}

.course-faq {
  background-color: var(--card-inside-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  padding: var(--padding-avg);
  border-radius: var(--border-radious);
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

.course-faq-item {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: var(--padding-avg) 0;
  gap: var(--padding-sm);
  border-bottom: 1px solid rgb(37, 37, 37);
}

.course-faq-item p {
  font-size: 14px;
}

.course-faq-item:last-child {
  border-bottom: none;
}

.course-faq-index {
  font-size: 18px;
  color: grey;
}

.tag.available {
  background-color: var(--green);
  color: black;
  border-radius: var(--border-radius-small);

}

.tag.unavailable {
  background-color: brown;
  border-radius: var(--border-radius-small);

}

.tag.category {
  background-color: rgb(51, 51, 51);
  border-radius: var(--border-radius-small);
}



/*===================*/
/*===================*/
/*===================*/
/*register.html*/
.register-container {
  max-width: var(--max-width);
  padding: var(--padding-big) var(--padding-avg);
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  gap: var(--gap);
}

.register-form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding) 0;
  gap: var(--gap-mid);
}

.from-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);

}

.form-column {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.form-column input {
  background-color: var( --intro-item-bg-color);
  padding: 10px 5px;
  border: none;
  border-radius: var(--border-radious);
  color: white;
}

.form-column select {
  width: 100%;
  background-color:var( --intro-item-bg-color);
  padding: 8px 5px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-radius: var(--border-radious);
}

.form-column textarea {
  width: 100%;
  background-color: var( --intro-item-bg-color);
  color: white;
  border: none;
  padding: 8px 5px;
}

.register-form input {
  width: 100%;
}

.form-column.last {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.form-column.last input {
  width: auto;
}

.goals-fieldset{
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: none;
  font-size: 18px;
  gap: var(--gap);
}

.radio-row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var( --intro-item-bg-color);
  height: auto;
  padding: var(--padding-sm) var(--padding-sm);
  gap: var(--gap);
  border-radius: var(--border-radious);
}

.radio-row input{
  width: auto;
}

/*register modal content*/
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 999;
  
}
#summary-content{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
/* visible state */
.modal-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* Modal box */
.modal-content {
  background-color: var(--card-color);
  color: #fff;
  border-radius:var(--border-radious);
  max-width: 480px;
  width: 90%;
  padding:var(--padding-avg);
  position: relative;

  transform: translateY(20px);
  opacity: 0;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}
.modal-content h2{
  margin-bottom: var(--padding-avg);
}
.modal-enroll-btn{
  margin-top: var(--padding-avg);
  width: 100%;
  padding: var(--padding-sm) 0;
}

/* Animate in when overlay is active */
.modal-overlay.active .modal-content {
  transform: translateY(0);
  opacity: 1;

}

/* Close X */
.modal-close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
}

/* Optional: prevent body scrolling when modal is open */
.no-scroll {
  overflow: hidden;
}

/*register modal content*/


/*======================*/
/*books.html*/
.course-product.book {
  padding-bottom: 0;
}

.course-thumb {
  height: 20vh;
  width: 100%;
  margin: auto auto 0 auto;
}



.tag-row.books>.tag:nth-child(2) {
  background-color: var(--green);
  color: black;
}

.course-info.books {
  padding: 0 var(--padding-avg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-direction: column;
  gap: var(--gap-mid);
  height: auto;
  width: 100%;

}

.books-cat-image {
  height: 20vh;
  width: 90%;
  margin: auto;
}

.course-info.books .tag-row {
  padding: 0;
  align-items: center;
  justify-content: center;

}

.course-info.books>p {
  font-size: 14px;
}

.course-info.books>h3 {
  font-size: 1.5625em;

}

/*=============================*/
/*=============================*/
/*=============================*/
/*=============================*/
/*=============================*/

/* course-details.html */
.course-detail-page {
  background-color: var(--secondary-bg-color);
}

.crs-dtl-header {
  padding: var(--padding-big) var(--padding-sm);
  max-width: var(--max-width);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-mid);
  margin: auto;
}

.learning-goals-container.course-details {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap-mid);
  padding: 0 var(--padding-sm);
}

.learning__goals__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  gap: var(--gap);

  width: 100%;
}

.learning__goal__item {
  padding: var(--padding-avg) var(--padding-sm);
  background-color: var(--card-color);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
  border-radius: var(--border-radious);
}

.learning__goal__item span,
.learning__goal__item p {
  font-size: 16px;
  color: var(--base-screen-color);
}


.main-description-course {
  padding: var(--padding) var(--padding-sm);
  margin: auto;
  max-width: var(--max-width);
  height: auto;
  gap: var(--gap-mid);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.course-modules-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mid);
}

.course-module {
  padding: var(--padding-mid) 0 0;
  border-top: 1px solid var(--border-top-gr);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
  text-align: left;
  width: 100%;
}

.module-header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.module-header h3 {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.module-header>span {
  color: grey;
  font-size: 18px;
}

.course-module p {
  color: rgb(26, 26, 26);
  font-size: 16px;
}

.more-quest-wrapper {
  background-color: black;
  padding: var(--padding-big) var(--padding-avg);
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.more-qst-row {
  max-width: var(--max-width);
  height: auto;
  margin: auto;
  gap: var(--gap-mid);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.courses-detail-accordion.module {
  top: 0;
}

.accordion-trigger.qst {
  background-color: transparent;
  border-top: 1px solid var(--border-top-new);
}

.accordion-trigger.qst .fa-solid.fa-chevron-down {
  color: white;
}

.accordion-trigger.qst .course-span {
  color: white;
  font-size: 16px;
}

.accordion-panel-inner.qst {
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}

.accordion-panel-inner.qst p {
  color: white;

}

.more-qst-row a:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}

/* modal course susbcription */
.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 9999;
}

.modal.is-open {
  display: block;
}

.modal__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.modal__dialog {
  position: relative;
  max-width: 520px;
  width: calc(100% - var(--padding-avg));
  margin: var( --intro-slider-height-mob) auto 0;
  background-color: var(--card-inside-color);

  border-radius: var(--border-radious);
  padding: var(--padding) var(--padding-avg);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
}

.modal__actions {
  display: flex;
  gap: var(--gap);
  justify-content: flex-end;
}

.modal__btn {
  padding: var(--padding-sm) var(--padding-avg);
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

.modal__btn--primary {
  background: var(--green);
  color: #000;
}

/*====================*/
/*====================*/
/*====================*/

/* book-details.html */
.book-page-header {
  max-width: var(--max-width);
  height: auto;
  padding: var(--padding) 0;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);
}

.book-dtl-hd-box {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding) var(--padding-avg);
  margin: auto;
}

.book-dtl-img-cnt {
  height: 40vh;
  width: 60%;
  margin: auto;
  border-radius: var(--border-radius-small);
}

.book-dtl-img-cnt img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-dtl-row {
  width: 100%;
  padding: 0 var(--padding-sm);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
}

.book-dtl-row .tag-row {
  justify-content: flex-start;
}

.book-dtl-row .tag-row .tag:first-child {
  background-color: var(--green);
  color: black;
}

.book-dtl-row h2 {
  font-size: 22px;
  color: black;

}

.book-dtl-row span {
  font-size: 14px;
  color: var(--nav-button-color);
  font-style: italic;
  color: black;


}

.book-dtl-row h3 {
  font-size: 20px;
  color: black;

}

.book-dtl-row a {
  background-color: black;
  color: white;
  border: none;
  padding: var(--padding-sm) var(--padding);
}

.book-dtl-row a:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

.book-main-dtl {
  width: 100%;
  padding: var(--padding-avg);
  max-width: var(--max-width);
  margin: auto;

  gap: var(--gap);
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;

}

.book-main-dtl h2 {
  color: black;
}

.book-main-dtl p {
  color: black;

}

/*===================*/
/*===================*/
/*===================*/

/* videos.html */
.video-header {
  height: auto;
  max-width: var(--max-width);
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: var(--gap);
  padding: var(--padding-lrg) var(--padding) var(--padding);

}


.video-header .tag-row {
  align-items: center;
  justify-content: center;
  gap: 0;
}

.video-header .tag-row .tag:nth-child(1),
.video-header .tag-row .tag:nth-child(3) {
  background-color: var(--green);
  color: black;

}


.videos-page {
  padding: var(--padding) var(--padding-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  max-width: var(--max-width);
  margin: auto;
}


.new-box-header .tag-row {
  justify-content: flex-start;
  padding: 0;
}


/* team.html */
body.team-page {
  background-color: var(--secondary-bg-color);
}

.about-us-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-lrg) 0;
  max-width: var(--max-width);
  height: auto;
  margin: auto;
  gap: var(--gap-t);
}

.about-us-header .tag-row {
  align-items: center;
  justify-content: center;
  gap: 0;
}

.about-us-header h1 {
  color: black;
  font-size: var(--h1-s);
}

.team-people-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: auto;
  width: 100%;
  margin: auto;
}

.line {
  height: 1px;
  flex: 1 1 auto;
  min-width: 0;
  background-color: var(--line-background);
}

.person {
  height: 65px;
  width: 65px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex: 0 0 65px;
}

.person img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team-presentation {
  height: auto;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 var(--padding);
  gap: var(--gap-l);

}

.team-presentation-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-l);

  padding: 0 var(--padding-sm);
}

.team-know-us-intro {
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
}

.team-know-us-intro h2 {
  font-size:24px;
  color: black;
}

.team-know-us-intro p {
  font-size: 18px;
  color: black;

}

.team-personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-t);
  height: auto;
  width: 100%;
}

.team-personal-info .line {
  width: 100%;
}

.team-info-box {
  width: 100%;

  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
}

.team-info-box h3,
.team-info-box p,
.team-info-box h4 {
  color: black;
}

.team-info-box h3 {
  font-size: 20px;
}

.team-info-box h4 {
  font-size: 18px;
  color: var(--border-top-new);
}

.team-presentation-image-wrapper {
  height: 240px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  flex-wrap: nowrap;
}

.team-pres-img-box {
  width: 220px;
  height: 200px;
  flex-shrink: 0;
  overflow: hidden;
}

.team-pres-img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team-pres-img-box:nth-of-type(1) {
  position: relative;
  z-index: 2;
  width: 240px;
}

.team-pres-img-box:nth-of-type(2) {
  position: relative;
  top: var(--move-top);
  left: var(--move-left);
  width: 280px;

  z-index: 1;
  transform: rotate(var(--tilt-angle));
}

.team-project-description-wrapper {
  height: auto;
  max-width: var(--max-width);
  padding: var(--padding) var(--pad-sm);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.team-project-dcr-box {
  height: auto;
  width: 100%;
  background-color: var(--card-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--border-radius-avrg);
  padding: var(--padding) var(--padding-avg);
  gap: var(--gap-mid);
}

.team-project-dscr-title-box {
  height: auto;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.team-project-main-dsc {
  height: auto;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);
}
.team-project-main-dsc p{
  font-size: 18px;
}

.team-proj-img-row {
  width: 100%;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team-proj-box-img {
  height: 100%;
  width: 45%;

}

.team-proj-box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* video-details.html */
.video-details-body-page {
  background-color: var(--secondary-bg-color);
}

.vd__header {
  height: auto;
  padding: var(--padding-big) var(--padding-avg);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  margin: auto;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
}

.vd__header h1,
.vd__header p {
  color: black;
}

.vd__main-content {
  height: auto;
  max-width: var(--max-width);
  margin: auto auto var(--padding-big);
  padding: var(--padding) var(--padding-sm);
  background-color: var(--base-screen-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
}

.vd-content {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.vd-cover {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

/*=================*/
/*=================*/
/*=================*/
/* footer */
footer {
  background-color: var(--secondary-bg-color);
  height: auto;
  width: 100%;
  padding: var(--padding) 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-mid);
}

.footer-box {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.footer-accordion-group {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer-accordion-item {
  width: 100%;
  height: auto;
}

.footer-accordion-panel {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap);
}

.footer-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-accordion-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-avg) var(--padding-sm);
  border-top: 1px solid var(--border-top-sec);
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
}


.footer-accordion-trigger i {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.footer-accordion-trigger[aria-expanded="true"] i {
  transform: rotate(180deg);
}


.footer-accordion-panel {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

}

.footer-accordion-panel.is-open {
  opacity: 1;
  height: auto;
}

.footer-link-list {
  padding: 0 0 var(--padding-avg);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer-link-list li {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-link-list li a {
  padding: var(--padding-sm);
  width: 100%;
  text-align: left;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  color: var(--border-top-new);
}

.footer-team-btn {
  width: 100%;
  padding: var(--padding-avg) var(--padding-sm);
  text-align: left;
  font-size: 18px;
  border: 1px solid var(--border-top-sec);
  border-bottom: 1px solid var(--border-top-sec);
  background-color: transparent;
  border-left: none;
  border-right: none;
}

.fa-solid.fa-plus {
  font-size: 14px;
}

.footer-box:first-of-type {
  padding: 0 var(--padding-avg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__reg {
  width: 100%;
  padding: var(--padding) 0 0;
  border-top: 1px solid var(--border-top-sec);
  gap: var(--gap-mid);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer__reg h2 {
  color: black;
}

.footer__reg a {
  background-color: black;
  color: white;
  border: 1px solid black;
  width: 70%;
}

.footer__reg a:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

.footer__team-info-wrapper {
  width: 100%;
  height: auto;
  padding: 0 var(--padding-sm);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer__team-info-wrapper p {
  font-size: 12px;
  color: black;
}