* {

    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}


:root {
    --nav-height: 70px;
    --padding-sm: 0.5rem;
    --padding-avg: 1rem;
    --padding-mid: 1.5rem;
    --padding: 2rem;
    --padding-big: 4rem;
    --padding-lrg: 6rem;
    --gap: 1rem;
    --gap-mid: 2rem;
    --gap-big: 4rem;

    --border-radious: 5px;
    --border-radius-small: 3px;
    --border-radius-avrg: 10px;
    --border-radius-big: 20px;
    --border-radius-huge:9999px;

    --white-bg: white;

    --card-color: rgb(26, 26, 26);
    --background-color: black;
    --secondary-bg-color: white;
    --card-secondary-color: rgb(234, 234, 234);
    --intro-item-bg-color: rgb(32, 32, 32);
    --nav-button-color: rgb(212, 212, 212);

    --card-inside-color: rgb(24, 23, 23);
    --card-grey-color:rgb(26, 26, 26);



    --border-top-gr: rgb(128, 128, 128);
    --border-top-new: rgb(37, 37, 37);
    --number-block-width: 58px;
    --number-block-height: 58px;
    --card-top-padding: calc(var(--number-block-height));
    --card-left-padding: calc(var(--number-block-width));


    --max-width: 1200px;
    --min-height: 90vh;
    --min-height-small: 60vh;
    --min-height-very-small: 40vh;

    --min-height-wide: 135vh;
    --max-width-register: 900px;

    --h1-mid: 70px;
    --p-big: 24px;

    --green: greenyellow;
    --text-align-def: center;
    --align-items-start: flex-start;

    --small-font-size: 16px;

}

body {
    padding-top: var(--nav-height);
    background-color: var(--background-color);

}

/*no scroll when the mobile menu opens*/
body.no-scroll {
    overflow: hidden;
}

/*no scroll when the mobile menu opens*/


h1 {
    font-size: 40px;
    color: white;
    line-height: 1.1;
}

h2 {
    font-size: 22px;
    color: white;
    line-height: 1.1;
}

.logo {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    color: white;
    line-height: 1.1;
}

h4 {
    font-size: 22px;
    color: white;
}

p {
    font-size: 16px;
    color: white;
    line-height: 1.4;
    font-weight: 300;
}

.fa-solid.fa-bars {
    font-size: 22px;
}

nav>h2 {
    color: white;
}

a {
    background-color: white;
    padding: 8px 0.8rem;
    box-sizing: border-box;
    color: black;
    border: 1px solid white;
    text-align: center;
}

button {
    box-sizing: border-box;
    color: black;
    border: none;
    text-decoration: none;
    background-color: white;
    font-size: 20px;
}

.submit-btn {
    width: 100%;
    padding: 12px 0.8rem;
    cursor: pointer;
    border: 1px solid white;
}

.submit-btn:hover {
    background-color: black;
    transition: 0.2s;
    color: white;
}

.fa-brands.fa-42-group {
    color: greenyellow;
    font-size: 40px;
}

#openMenu,
#closeMenu {
    cursor: pointer;
    font-size: 22px;
    color: white;
}

span {
    color: white;
    font-size: 24px;
    font-weight: 350;
}

.menu-span {
    font-weight: 350;
    font-size: 18px;

}

.course-span {
    color: black;
}

.menu {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    width: 100%;
    color: var(--nav-button-color);
    font-size: 18px;
    text-align: left;
}

.a-green {
    background-color: greenyellow;
    border: none;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: var(--border-radius-small);
    font-weight: 500;
    text-transform: uppercase;
}