* {

    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 90px;
}

:root {
    scroll-margin-top: 90px;

    --nav-height: 70px;
    --pad-sm: 2px;

    --padding-sm: 0.5rem;
    --padding-avg: 1rem;
    --padding-mid: 1.5rem;
    --padding: 2rem;
    --padding-big: 4rem;
    --padding-lrg: 6rem;

    --padding-m: 8em;
    --padding-l: 10em;

    --gap-ultra-sm: 2px;
    --gap-sm: 0.5rem;
    --gap: 1rem;
    --gap-t: 1.5rem;
    --gap-mid: 2rem;
    --gap-l: 3rem;
    --gap-big: 4rem;

    --border-radious: 5px;
    --border-radius-small: 3px;
    --border-radius-avrg: 10px;
    --border-radius-m: 15px;
    --border-radius-big: 20px;
    --border-radius-huge: 9999px;

    --white-bg: white;

    --card-color: rgb(26, 26, 26);
    --background-color: black;
    --secondary-bg-color: rgb(244, 244, 244);

    --card-secondary-color: rgb(234, 234, 234);
     --module-clr: rgb(34, 34, 34);

    --nav-button-color: rgb(212, 212, 212);

    --card-inside-color: rgb(24, 23, 23);
    --card-grey-color: rgb(26, 26, 26);
    --base-screen-color: rgb(212, 214, 223);
    --nav-bottom: rgb(27, 27, 27);

    --card-vd: rgb(32, 29, 29);
    --goal-card-height: 65vh;
    --goal-card-height-tablet: 58vh;



    /* intro slider*/
    --intro-item-bg-color: rgb(32, 32, 32);

    --intro-slider-height-mob: 26vh;
    --intro-item-height-mob: 120px;
    --intro-item-width-mob: 160px;

    /* intro slider*/

    /*proposed book card*/
    --book-card-width: calc(100dvw - 4rem);
    --book-card-width-tablet:calc(50dvw - 1rem);
    --book-card-width-laptop:  calc(30dvw - 4rem);

    --book-card-spec-laptop:calc(45dvw - 1rem);

    --goal-item-laptop:450px;
    --cat-card-table:calc(60dvw - 1rem);

    --simple-card-height: 48vh;
    /*proposed intro slider*/

    /* proposed courses carousel*/
    --proposed-carousel-height: 36vh;
    --proposed-carousel-card-width-mob: 290px;
    --proposed-video-vd-wrapper-mob: 28vh;
    /* proposed courses carousel*/



    --line-background: #E1E1E1;
    --border-top-gr: rgb(128, 128, 128);
    --border-top-sec: rgb(223, 223, 223);
    --border-top-new: rgb(37, 37, 37);

    --number-block-width: 58px;
    --number-block-height: 58px;
    --card-top-padding: calc(var(--number-block-height));
    --card-left-padding: calc(var(--number-block-width));

    --tag-color: rgb(49, 49, 49);
    --max-width: 1200px;
    --max-width-laptop-larg: 1400px;

    --card-min-height:55vh;

    --min-height: 90vh;
    --min-height-small: 60vh;

    --wrapper-height: 100vh;
    --min-height-very-small: 40vh;

    --min-height-wide: 135vh;
    --max-width-register: 900px;

    --h1-hd: 40px;
    --h1-intro: 46px;
    --h1-s: 56px;
    --h1-mid: 70px;
    --h1-ultra: 100px;
    --h2-b: 36px;
    --h2-tabl: 28px;


    --p-big: 24px;
    --p-lrg: 30px;
    --p-tabl: 22px;

    --green: rgb(161, 255, 98);
    --violet: rgb(104, 64, 255);
    --text-align-def: center;
    --align-items-start: flex-start;

    --small-font-size: 16px;

    --screen-wrapper-height-s: 50vh;
    --move-top: 2rem;
    --move-left: -3rem;
    --tilt-angle: 5deg;
    --pers-circle-laptop: 80px;
}

body {
    padding-top: var(--nav-height);
    background-color: var(--background-color);

}

/*no scroll when the mobile menu opens*/
body.no-scroll {
    overflow: hidden;
}

/*no scroll when the mobile menu opens*/


h1 {
    font-size: 40px;
    line-height: 1.1;
    color: white;
}

h2 {
    font-size: 22px;
    color: white;
    line-height: 1.1;
}

.logo {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    color: white;
    line-height: 1.1;
}

h4 {
    font-size: 22px;
    color: white;

}

h5 {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.2;
    color: white;
    font-weight: 300;
}

.fa-solid.fa-bars {
    font-size: 22px;
}

nav>h2 {
    color: white;
}

a {
    background-color: white;
    padding: 8px 0.8rem;
    box-sizing: border-box;
    color: black;
    border: 1px solid white;
    text-align: center;
}

.green-btn {
    background-color: var(--green);
    padding: var(--padding-sm) var(--padding);
    box-sizing: border-box;
    color: black;
    text-align: center;
    border: none;
    font-size: 18px;
}

.green-btn:hover {
    transform: scale(0.95);
    transition: 0.2s;
}

button {
    box-sizing: border-box;
    color: black;
    border: none;
    text-decoration: none;
    background-color: white;
    font-size: 20px;
}

.submit-btn {
    width: 100%;
    padding: 12px 0.8rem;
    cursor: pointer;
    border: 1px solid white;
}

.submit-btn:hover {
    background-color: black;
    transition: 0.2s;
    color: white;
}

.fa-brands.fa-42-group {
    color: greenyellow;
    font-size: 40px;
}

#openMenu,
#closeMenu {
    cursor: pointer;
    font-size: 22px;
    color: white;
}

span {
    color: white;
    font-size: 24px;
    font-weight: 350;
}

.menu-span {
    font-weight: 350;
    font-size: 18px;

}

.course-span {
    color: black;
    font-size: 18px;
}

.menu {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    width: 100%;
    color: var(--nav-button-color);
    font-size: 18px;
    text-align: left;
}

.a-green {
    background-color: var(--green);
    border: none;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: var(--border-radius-small);
    font-weight: 500;
    text-transform: uppercase;
}

.fa-solid.fa-arrow-left {
    font-size: 12px;
    color: black;
}

.fa-solid.fa-arrow-right {
    font-size: 12px;
    color: black;

}

.main-description-course h2 {
    color: black;
}

.crs-dtl-header h1 {
    color: black;
}

.crs-dtl-header p {
    color: black;
}

img {
    max-width: 100%;
}