<a class="new-box" [routerLink]="['/video-details', video._id]">
  <div class="new-box-header">
    <div class="tag-row">
      <span class="tag" [ngClass]="video.available ? 'available' : 'unavailable'">
        {{ availabilityLabel }}
      </span>
      <span class="tag category">{{ video.category }}</span>
      <span class="tag category">{{ video.difficulty }}</span>
    </div>

    <h4>{{ video.title }}</h4>
    <h3>{{ sliceWords(video.description, 26) }}</h3>
  </div>

  <div class="new-box-content">
    <img [src]="video.cover" [alt]="video.title" draggable="false" />
  </div>
</a>